# The logical name assigned to the cluster. Used in e.g. service-specific domain names and cluster specific params.
# Need to match the cluster_name value in .tfvars file.
cluster_name=
# List of allowed IP ranges for accessing APISIX Admin API. Separate multiple CIDRs with commas.
apisix/admin_api_ip_list=0.0.0.0/0
# Specifies the private subnet(s) used by the cluster's ingress-nginx controller. 
# Determines the trusted addresses for real-ip plugin.
# For now queried and determined from command: kubectl get nodes -o jsonpath='{.items[*].spec.podCIDR}'. Separate multiple CIDRs with commas.
apisix/ingress_nginx_private_subnets=
# APISIX subdomain
# This is the subdomain that users will use to access the APISIX.
# Cluster specific APISIX subdomain has the format: subdomain.cluster_name.domain.com
apisix/subdomain=placeholder
# AWS Region for DNS. Needed for Route53 to determine which region to use in latency based routing.
# Latency based routing is in use for APISIX.
# There is limitation that same APISIX subdomain cannot be used in multiple clusters pointing to same AWS region.
aws_region_dns=placeholder
# External clusters that Dev Portal needs to be aware of
# If there is none then use given value (comma)
dev_portal/external_cluster_names=,
# Dev Portal subdomain, can be placeholder if not installing Dev Portal.
dev_portal/subdomain=placeholder
# Whether to install Dev Portal
dev_portal/install=false
# Whether to install GeoWeb
geoweb/install=false
# Default workspace preset id for Geoweb, can be created only after installing Geoweb. Use placeholder if not installing Geoweb or installing first time.
geoweb/default_workspace_preset_id=placeholder
# Geoweb subdomain, can be placeholder if not installing GeoWeb.
geoweb/subdomain=explorer
keycloak/github_idp_client_id=placeholder
# OAuth2 client secret for GitHub identity provider in Keycloak, can be removed if not installing Dev Portal.
keycloak/github_idp_client_secret=placeholder
keycloak/google_idp_client_id=placeholder
# OAuth2 client secret for Google identity provider in Keycloak, can be removed if not installing Dev Portal.
keycloak/google_idp_client_secret=placeholder
# Keycloak subdomain, can be placeholder if not installing Dev Portal.
keycloak/subdomain=placeholder
# The URL endpoint for accessing the Rancher API dashboard. Can be queried from the Rancher UI.
# The same URL as used to login to Rancher UI
rancher_api_url=
# The ID of the Rancher cluster. Can be queried from the Rancher API or UI.
rancher_cluster_id=
# Whether to enable anti-affinity for Vault pods.
vault/anti_affinity=true
# Actual Vault root token and unseal keys are produced by the terraform after the first run.
# Can be as is when bootstrapping a new cluster.
vault/root_token=placeholder
vault/unseal_keys=[]